<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Your Notes</title>
</head>
<body>
<form method="post">
    <table>
        <tr>
            <td>
                <input type="text" placeholder="Enter Note " name="note">
            </td>
            <td>
                <input type="text" placeholder="Enter Name" name="name">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="postnote">
            </td>
        </tr>
    </table>
</form>

</body>
</html>